<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp626Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background-color: goldenrod; padding: 16px;">
      Navbar 🛸
      <%# link_to 'link text', route_prefix + '_path' %>
      <%= link_to "home", root_path %>
      <%= link_to "about", about_path %>
      <%= link_to "contact", contact_path %>
    </div>
    <%= yield %>
    <div style="background-color: goldenrod; padding: 16px;">
      Footer 🦶
    </div>
  </body>
</html>
